@import "/src/app/styles/variables";

.label {
  // background: rgba($color: #333, $alpha: 0.05);
  // border: 1px solid $basic_green;
  height: 50px;
  display: flex;
  align-items: center;
  // padding: 0 20px;

  h3 {
    white-space: nowrap;
  }

  input {
    margin-left: 13px;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0;
    color: #333;

    border: 1px solid $special_grey-2;
    padding: 0 20px;
    transition: all 0.2s ease-in-out;

    &.error {
      border: 2px solid $status_error;

      &:focus {
        border: 2px solid $status_error;
      }

      @media (min-width: 600px) {
        &:hover {
          border: 2px solid $status_error;
        }
      }
    }

    &:focus {
      border: 1px solid $special_grey;
    }

    @media (min-width: 600px) {
      &:hover {
        border: 1px solid $special_grey;
      }
    }
  }

  textarea {
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: 0;
    background: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    color: #333;

    padding: 0 20px;
    padding-top: 10px;

    &::placeholder {
      text-transform: uppercase;
    }

    border: 1px solid $special_grey-2;

    &:focus {
      border: 1px solid $special_grey;
    }

    @media (min-width: 600px) {
      &:hover {
        border: 1px solid $special_grey;
      }
    }
  }
}
